/*

Theme Name:     Pet Sitting

Theme URI:      http://example.com/

Description:    Child theme for the Twenty Twelve theme

Author:         Your name here

Author URI:     http://example.com/about/

Template:       fampet                             

Version:        0.1.0

*/


@import url("../fampet/style.css");


h1{}

h2{color:#0099FF;}
#toph{color:#0099FF;}
#both{color:black;font-size:20px;}

#tagline {
color: #40584a;}


#header{background-image:url('images/top_bg.jpg');}

#orderform{font: 14px/14px Arial, Helvetica, sans-serif;
font-weight: bold;
color: #317040;
}
.box{padding: 8px;padding-top:10px;padding-bottom: 10px;
background: url(images/order_form_divider.png) repeat-x 0 bottom;
width: 260px;
float: left;}
.textbox{}
.submit{width: 168px;
height: 46px;
background: url(images/submit_bg.png) no-repeat center center;
border: 0px none;
font: bold 21px/40px Arial, Helvetica, sans-serif;
color: #fff;
cursor: pointer;
padding-bottom: 7px;
outline: none;}
.submitbox{text-align:center;margin-left: -8px;}
#footer{background-image:url('images/footer_bg.png');}

.nav1 li a {
color:black;}
.divider {background: url(images/div.png) repeat-x 0px bottom}

#orderform{background-image:url('images/order_form_bg.png');}
#p2-title{color: #0099FF;
font-family: Arial,Geneva,sans-serif;
font-size: 27px;
text-align: left;}
.Newgetquotecontent {
height: 20px;
font-family: Arial, Geneva, sans-serif;
text-decoration: none;
text-align: left;
color: #0099FF;
font-size: 14px;
font-weight: normal;
padding-top: 10px;
padding-bottom: 2px;
padding-left: 10px;
font-weight: bold;}
.submit2 {
width: 168px;
height: 46px;
background: url(images/submit_bg.png) no-repeat center center;
bottom: 92px;
left: 70px;
border: 0px none;
font: bold 21px/40px Arial, Helvetica, sans-serif;
color: #fff;
cursor: pointer;
padding-bottom: 0px;
outline: none;
float: left;}
.thankyouheading {
color: #0099FF;
font-size: 30px;
font-family: Arial,Georgia, Times New Roman, Times, serif;
font-weight: normal;
}


.menu-header-menu-container ul {  border:1px solid #58856b; background:url(images/nav_bg.gif) repeat-x 0 0; border-radius:20px; -webkit-border-radius:20px; -webkit-box-shadow: 0px 0px 3px 0px #d9c6d9; box-shadow: 0px 0px 3px 0px #d9c6d9; }

.menu-header-menu-container ul li {  background:url(images/nav_divider.gif) no-repeat right 2px; padding:0 17px 0 13px; }

.menu-header-menu-container ul li a { color:#333333; }

.menu-header-menu-container ul li a:hover { color:#317040; }



.bottom-nav2 ul {  border:1px solid #58856b; background:url(images/nav_bg.gif) repeat-x 0 0; border-radius:20px; -webkit-border-radius:20px; -webkit-box-shadow: 0px 0px 3px 0px #d9c6d9; box-shadow: 0px 0px 3px 0px #d9c6d9; }

.bottom-nav2 ul li {  background:url(images/nav_divider.gif) no-repeat right 2px; padding:0 17px 0 13px; }

.bottom-nav2 ul li a { color:#676767; }

.bottom-nav2 ul li a:hover { color:#06C; }
#bh{
color: #317040;}


#tab1 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab2 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab3 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab4 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab5{ background:url(images/tab1_bg.png) no-repeat right bottom; }

.tab_nav li a { float:left; font:16px/30px "CabinRegular", Arial; color:#fff; text-decoration:none; background:url(images/yellow_bg_hover.gif) repeat-x 0 0; padding:0 10px; border:1px solid #e0c2df; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; border-bottom:0px; text-shadow: 1px 1px 1px #b881b5; }

.tab_nav li a:hover, .tab_nav li a.active { color:#161616; background:url(images/yellow_bg.gif) repeat-x 0 0; position:relative; padding-top:1px; margin-bottom:-1px; }

.tab_content ul li { text-align :justify ; padding:12px 0 7px 22px; font:12px/20px Arial, Helvetica, sans-serif; color:#282828; }


.tab_container h3{  font: normal 19px Arial, Helvetica, sans-serif;
color: #0099ff;
text-decoration: none;}

.tab_container { border:1px solid #b8e2c8; -webkit-border-radius: 0px 5px 5px 5px; border-radius: 0px 5px 5px 5px; overflow:hidden; clear:both; background:#fff; background-color: #eafbf1;}
/*Tier block starts*/
.tier { position:relative; margin-top:30px; }
.top { margin-top:80px; }
.tier .box-shadow { height:19px; width:100%; position:absolute; left:0px; bottom:-19px; background:url(images/box1_shadow.png) no-repeat center top; }
.tier table th, .tier table td { vertical-align:middle; text-align:center; padding:11px 10px; }
.tier table th{ padding:9px 10px;}
.tier table th{ white-space:nowrap}
.tier ul li { text-align:left; padding:1px 0; padding-left:12px; }
.tier blockquote { border-bottom:1px dashed #8eb1a6; padding:5px 0; }
.tier blockquote.last { border-bottom:0px; }
.tier a:hover { text-decoration:underline; }
.tier .col1 { width:23%; }
.tier .col2 { width:18%; }
.tier .col3 { width:16%; }
.tier .col4 { width:15%; }
.tier .col5 { width:10%; }
.tier .col6 { width:18%; }
.tier a { font-size:12px; text-decoration:none; }
.tier a.contact { width:68px; height:25px; display:block; line-height:25px; text-align:center; }
.tier table{ border-collapse:separate !important;}  /* new added*/
.Address_caps{ text-transform:capitalize;}  /* new added*/
/*Tier block 1*/
.tier-box1 { background:url(images/box1_bg.gif); border:1px solid #8eb1a6; display:block; border-radius:5px; -webkit-border-radius:5px; position:relative; overflow:hidden; box-shadow:0 0 4px #caebde; }
.tier-box1 td { font:13px/18px  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; color:#00623a; border-top:1px solid #8eb1a6; border-left:1px solid #f2f2f2; text-shadow: 1px 1px 1px #fff; border-right:1px solid #8eb1a6; }
.tier-box1 td.first { border-left:0px none; }
.tier-box1 td.last { border-right:0px none; }
.tier-box1 .thead { background:url(images/box1_head_bg.gif) repeat-x 0 0; }
.tier-box1 th { color:#fff; text-shadow:1px 1px 1px #337063; font:16px/16px "CabinSemiBold", Arial; border-left:1px solid #34b984; border-right:1px solid #1e644e; }
.tier-box1 th.col1 { border-left:0px none; }
.tier-box1 th.col6 { border-right:0px none; }
.tier-box1 a {  }   /* change*/
.tier-box1 span { clear:both; display:block }
.tier-box1 ul li { background:url(images/list.png) no-repeat 0 8px; }
.tier-box1 strong { font-family:"CabinBold", Arial; }
.tier-box1 strong span { font-size:15px; }
/*Tier block 2*/
.tier-box2 { background:#ecf9f3; border:1px solid #a3ddcb; display:block; border-radius:5px; -webkit-border-radius:5px; position:relative; overflow:hidden; }
.tier-box2 td { font:13px/18px  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; color:#005a37; border-top:1px solid #9be2c0; border-right:1px solid #9be2c0; border-left:1px solid #f2fbf7; text-shadow: 1px 1px 1px #f4fcf8; border-bottom:1px solid #f2fbf7; }
.tier-box2 td.first { border-left:0px none; }
.tier-box2 td.last { border-right:0px none; }
.tier-box2 .thead { background:#a2ebc8; }
.tier-box2 th { color:#00683f; text-shadow:1px 1px 1px #b9f0d6; font:16px/16px "CabinSemiBold", Arial; border-right:1px solid #63bd92; border-left:1px solid #bef1d9; border-bottom:1px solid #fcf9fb; }
.tier-box2 th.col1 { border-left:0px none; }
.tier-box2 th.col6 { border-right:0px none; }
.tier-box2 a {  }   /* change*/
.tier-box2 strong { clear:both; display:block; }    /* change*/
.tier-box2 strong span { line-height:37px; }
.tier-box2 span { display:block;  clear:both; } /* change*/
.tier-box2 img { }              /* change*/
.tier-box2 ul li { background:url(images/list2.png) no-repeat 0 8px; }
.tier-box2 a.contact { background:url(images/contact_bg.png) no-repeat center 0; color:#00683f; }
.tier-box2 strong { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-weight:bold }
.tier-box2 strong span { font-size:15px; }
/*Tier block 3*/
.tier-box3 { background:#f5f4f4; border:1px solid #d3d3d3; display:block; overflow:hidden; }
.tier-box3 td { font:12px/18px  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; color:#4c4c4c; border-top:1px solid #d3d3d3; border-right:1px solid #d3d3d3; border-left:1px solid #fcfcfc ; text-shadow: 1px 1px 1px #fbfbfb; border-bottom:1px solid #fcfcfc; }
.tier-box3 td.first { border-left:0px none; }
.tier-box3 td.last { border-right:0px none; }
.tier-box3 .thead { background:#d4d3d3; }
.tier-box3 th { color:#4c4c4c; text-shadow:1px 1px 1px #f8e1ec; font:14px/16px "CabinSemiBold", Arial; border-right:1px solid #cbcbcb; border-left:1px solid #eae9e9; border-bottom:1px solid #fafafa; }
.tier-box3 th.col1 { border-left:0px none; }
.tier-box3 th.col6 { border-right:0px none; }
.tier-box3 a {  }       /* change*/
.tier-box3 strong { clear:both; display:block; }    /* change*/
.tier-box3 strong span { line-height:37px; }
.tier-box3 span { display:block; clear:both; }  /* change*/
.tier-box3 img { }      /* change*/
.tier-box3 ul li { background:url(images/list3.png) no-repeat 0 8px; }
.tier-box3 a.contact { background:url(images/contact_bg2.png) no-repeat center 0; color:#fff; text-shadow:none }
.tier-box3 strong { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-weight:bold }
.tier-box3 strong span { font-size:13px; }

.pager{ display:block; overflow:hidden; padding:15px 0 10px 0; text-align:center; background:#f5f4f4; border:1px solid #d3d3d3; border-top:0px;}
.pager ul{ display:inline-block; *display:block; *width:336px;*margin:0 auto;}
.pager ul li{ float:left; padding:0px 2px;}
.pager ul li a{ float:left; width:30px; height:30px; background:url(images/pager_bg.png) no-repeat center center; font:14px/23px "CabinRegular", Arial; color:#585256; text-align:center; text-shadow:1px 1px 1px #e9e9e9;}
.pager ul li a.prev{ background:url(images/pager_prev.png) no-repeat center center;}
.pager ul li a.next{ background:url(images/pager_next.png) no-repeat center center;}
/*Tier block ends*/



.sbOptions .sbGroup{
	color: #317040!important;
}
.sbOptions a.sbFocus{
	color: #317040!important;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #317040!important;

}

.sbToggle{
	background: url(images/select-icons.png) 0 -116px no-repeat;
}
.sbToggle:hover{
	background: url(images/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(images/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(images/select-icons.png) 0 -66px no-repeat;
}

#bcont{
background-image: url(http://mcgwebdesign.info/fampet/localdogwalker/wp-content/themes/fampet/inc/rsc/bg.jpg);}

.bottom-nav3{width: 950px;}
.bottom-nav3 li a {
color: #6C8473;}

.TabbedPanelsContent{text-align:justify;}

.page-id-65 #bottom {text-align:left;}
.testimonialText {
text-align: justify;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #4D4D4D;
text-decoration: none;
line-height: 18px;
}

.blueRegardText {
color: #4d8e5b;
font-size: 14px;
padding-top: 8px;
font-weight: bold;
}

.blueRegardfont {
color: #4d8e5b;
font-size: 12px;
padding-top: 8px;
font-weight: normal;
}

/* Mini Sites */
.Compare_Rent
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#009BCF;
font-size:24px;
padding-left:10px;
padding-top:12px;
}
.Compare_Rent2
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#3C9450;
font-size:24px;
padding-left:0px;
padding-top:12px;
}
.Compare_Rent3
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#333333;
font-size:14px;
padding-left:10px;
text-align:justify;
font-weight:bold;
}
.Points_Rent
{
padding-left:10px;
padding-right:10px;
}
.NewFormHeading-Rent
{
	height:35px;
	font-family:Arial, Geneva, sans-serif;
	font-size:27px;
	color:#4BB865;
	text-decoration:none;
	padding-left:10px;
	text-align:left;
}
/* bottom nav sect */

#bottom_nav_wrapper { font-family: Arial, Geneva, sans-serif; width: 874px; text-align: center }
.bottomnavText { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold; text-decoration:none }
.bottomnavTextLink { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold; text-decoration:none }

.bottomnavTextLink:hover { color: #f60 }
.bottom-nav-links div 
{
display: inline;
text-align: center;
}
.Rebate {
width: 875px;
height: 381px;
background-image: url(images/detail-back.gif);
background-repeat: no-repeat;
}
.Rebateheading
{
	color:#3C9553;
	font-size:30px;
	font-family:Arial,Georgia, Times New Roman, Times, serif;
	font-weight:normal;
	padding-left:40px;
}
.Rebateucontent
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	color:#000000;
	padding-top:5px;
	padding-left:40px;
	padding-right:40px;
	text-align:justify;
	font-weight:bold;
}




/* top nav sect */

#top_nav_wrapper { font-family: 'Trebuchet MS'; width: 874px; margin-top:10px; text-align: center }
#top_nav_logo{float:left;height:55px;padding-right:20px;}
/* for AdoptaPet landing page */
#top_nav_wrapperAdopt { font-family: 'Trebuchet MS'; width: 874px; margin-top:10px; margin-bottom:5px; text-align: center }

#top_nav_logoAdopt{float:left;height:92px;padding-right:20px;}
#top_nav_logoDB{float:left;height:70px;padding-right:20px;}
 
/* main top navigation w/. rounded corners */
.top-nav-links div {
float: left;
display: inline;
text-align: center;
/*background: url(http://media.rent.com/img/topnav/topnav-bg-sprite.gif) repeat-x 0 0;*/
color: #ccc
}
.top-nav-links a { float: left; text-decoration: none }
 
.top-nav-links .off { background-position: 0 -79px; height: 31px; margin-top: 7px }
.top-nav-links .off a { font-size: 14px; color: #333; padding-top: 8px }
.top-nav-links .off a:hover {color: #333; text-decoration: underline }
.top-nav-links .off-curve-lt {background-position: 0 0; width: 7px }
.top-nav-links .off-curve-rt { background-position: -7px 0; width: 7px }
 
.top-nav-links .on { background-position: 0 -66px; background-color: #39c; height: 37px; margin-top: 1px }
.top-nav-links .on a { font-size: 14px; color: #fff; font-weight: bold; padding-top: 11px }
.top-nav-links .on a:hover { color: #fff; text-decoration: none }
.top-nav-links .on-curve-lt { background-position: -14px 0; width: 9px }
.top-nav-links .on-curve-rt { background-position: -23px 0; width: 9px }
 
.top-nav-links .narrow { width: 7px; height: auto }
.top-nav-links .wide { width: 20px; padding-top: 8px; height: auto }
.top-nav-links .link { padding: 0 7px; cursor: pointer }
 
/* list/manage property link on the rt. */
.top-nav-links .list-manage-prop { float: right; font-size: 12px; color: #333; padding-top: 15px }
.list-manage-prop:hover { text-decoration: underline }
 
.top-sub-nav .sub-tab-msg { line-height: 10px; padding: 3px 0 6px }
.topnavWelcome { font-size: 14px; font-weight: bold; color: #333 }
.topnavHeader { background: #fff }
.topnav_subtabmessage_item {padding:4px;}
 
/* top navigation bar, section on the right, "Welcome", "sign in" links */
.top-nav-up-rt { text-align: right }
.top-nav-up-rt em { font-style: normal; padding: 0 1px }
.top-nav-up-rt .message { border-right: 5px solid #fff }
.top-nav-links { text-align: right; padding-top: 7px }

.topnavTextLink { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold }
.topnavTextLink:hover { color: #f60 }
span.topnavTextLink { font-weight: bold }

/* bottom nav sect */

#middle_nav_wrapper { font-family: 'Trebuchet MS'; width: 874px; margin-top: 10px; text-align: center }

/* bottom nav sect */

#bottom_nav_wrapper { font-family: Arial, Geneva, sans-serif; width: 874px; text-align: center }
.bottomnavText { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold; text-decoration:none }
.bottomnavTextLink { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold; text-decoration:none }

.bottomnavTextLink:hover { color: #f60 }
.bottom-nav-links div 
{
display: inline;
text-align: center;
}


.height {height:20px;}

.Body_Top_Middle_Rent
{
	vertical-align:top;
	width:319px;
	height:515px;
	background-image:url(../Images/rent-form-back.png);
	background-repeat:no-repeat;
}
.Rent_Bottom_Header
{
	vertical-align:top;
	width:875px;
	height:169px;
	border:0px;
	
}