/*   



Theme Name: Family Pet Sites



Theme URI: http://www.familypet.com



Description: This is a custom theme by MCG Web Design



Author: Charles Gunay



Author URI: http://www.mcgwebdesign.info



Version: 1.0



*/











/* Theme Notes



--This theme uses CSS resets in the css/resets.css file. No need to do additional resets.



--jQuery is already included. No need to include it again. Just add any javascript functions below the wp_head(); call in header.php, but preferably in the js/custom.js file



*/























body			{font-family: Arial;}



h1{font: 25px/25px "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;}



h2{font: 26px/26px "CabinBold", Arial;color: #4c4c4c;text-shadow: 1px 1px 1px #ccc;margin-bottom: 15px;}



h3{font-family: Georgia, "Times New Roman", Times, serif;
color: #000000;
font-size: 18px;
font-weight: bold;margin-top:15px;margin-bottom:8px;}



h4{}



p{ margin-top:5px;margin-bottom:10px;font-family: Arial,Helvetica,sans-serif;color: rgb(49, 49, 49);}



a{}



.meta{margin-bottom: 10px;
}






#trNoOfPets .NewFormOption {
padding-top: 3px;
}








#container		{width:1200px;margin:auto;}
#content-inner {margin:auto;width:1000px;z-index:999;}


#left{min-height: 512px;min-width:312px;float:left;margin-top: 25px;}



#orderform{width:312px;height:504px;margin-left:110px;}
#orderform #title {text-align:center;font: bold 19px/19px Arial, Helvetica, sans-serif;
color: #fff;padding-top:20px;}


#right{float:left;margin-left:85px;margin-top:70px;padding-bottom:30px;width:600px;padding-right: 84px;}



#bottom{text-align:center;width:1200px;margin-top:20px;margin-bottom:120px;}


	#join-left{width:400px;float:left;margin-left: 120px; margin-top: 0px;} 

#join-right{width:399px;float:right;}

#join-box{background-image:url(images/joncontent.jpg);width:325px;height:648px;position:relative;}
#join-text{font-family: Arial, Geneva, sans-serif;
text-decoration: none;
text-align: left;
color: #666666;
font-size: 13px;
font-weight: bold;
width: 250px;
padding-top: 70px;
margin-left: 50px;}
#join-text ul{
	list-style-image:url(images/joinbullet.png);
}


.quform-input input {
width: 250px;
}
#join-left .gform_wrapper .top_label input.medium {
width: 97%;
}
#join-text li{
margin-bottom: 5px;} 
/** Header **/



#header	{height:299px;text-align: center;position:relative;}



#logo {left:100px;position:absolute;}



#center {position:absolute;left:490px;width:221px;bottom: 50px;}



#tagline {position:absolute;left:800px;bottom: 150px;font: 25px/25px "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;}

.TabbedPanelsContentGroup {
text-align: left;
}







#content		{}

.p2{width:1000px;margin:auto;}
.label{color: #252525;
font-family: Arial,Geneva,sans-serif;
font-size: 14px;
font-weight: bold;
height: 30px;
padding-right: 10px;
text-align: right;
text-decoration: none;
vertical-align: middle;
width: 150px;}
.labelradio{color: #252525;
font-family: Arial,Geneva,sans-serif;
font-size: 14px;
font-weight: bold;
height: 30px;
padding-right: 10px;
padding-top: 4px;
text-align: right;
text-decoration: none;
vertical-align: top;
width: 150px;}
.NewFormOption{font-family: Arial, Geneva, sans-serif;
font-size: 13px;
line-height: 20px;
color: #363636;
text-align: left;
font-weight: bold;}
.textbox2 {padding-left:10px;padding-right:10px;
border: 1px solid #b1a999;
height: 22px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #666666;
font: 12px/26px Arial, Helvetica, sans-serif;
margin-top: 8px;font-weight:bold;
}
.textbox{padding-left:10px;padding-right:10px;border: 1px solid #b1a999;
height: 26px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #666666;
font: 12px/26px Arial, Helvetica, sans-serif;margin-top: 8px;width: 236px;}
.textboxs{padding-left: 10px;
padding-right: 10px;
border: 1px solid #b1a999;
height: 26px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #666666;
font: 12px/26px Arial, Helvetica, sans-serif;
margin-top: 8px;}

#sidebar		{}
.frmrepeatsmallNew{font-family: Arial, Helvetica, sans-serif;
color: #313131;
font-size: 10px;
font-weight: normal;}

#page2-content{width:1000px;color: #313131;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;margin:auto;}
.NewgetquotecontrolContent {
font-family: Arial, Geneva, sans-serif;
text-decoration: none;
font-weight: bold;
text-align: left;
color: #252525;
font-size: 14px;
padding-top: 0px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 30px;}
#datepicker{border: none;
        background-color: transparent;}
#pnlStartDate{height:25px!important;}
.ui-datepicker-trigger {
margin-top: 1px;
}
#upsell{padding-left: 100px;
padding-bottom: 80px;
}
#privacy-logo{
	margin-left: 70px;
margin-top: 12px;
	
}
.contact_form_wrapper {
border-radius: 25px;
border: 1px solid;
border-color:gray;
width:800px;
margin:auto;
}
.contact_form{ width:600px;margin:auto;}

.gform_footer.top_label {
text-align: right;

}
#gform_submit_button_1 {margin-right: 75px;}


.medium {
padding-left: 10px!important;
padding-right: 10px!important;
border: 1px solid rgb(177, 169, 153)!important;
height: 26px!important;
border-radius: 3px!important;
color: rgb(102, 102, 102)!important;
font: 12px/26px Arial, Helvetica, sans-serif!important;
}
.gform_wrapper .top_label li.gfield.gf_left_half input.medium, .top_label li.gfield.gf_right_half input.medium {
width: 238px!important;
}
.gform_wrapper .top_label textarea.textarea {
width: 600px!important;
height:200px!important;
}

.chzn-search {
height: 0px;
overflow: hidden;
padding: 0px!important; 
margin-bottom: 2px;
border-bottom: solid 1px #CCC;
}

/** Footer  **/

#footer p {
font-size: 12px;
clear: both;
}

#footer			{height:287px;text-align: center;position:relative;padding-top: 56px;margin-top:96px;}



.graphic {position: absolute;width: 294px;height: 263px;background: url(images/footer_graphic.png) no-repeat 0 0;top: -100px;left: 100px;z-index: 9;}

#footer .bottom_row {  float:left; padding:12px  158px; }

#footer .add { float:left; padding:0 15px 0 0; }

#footer .logos { float:left; padding:0 3px 0 8px; }

#footer .logos a { margin-right:5px; }

#footer .social { float:left }

#footer .social a { margin:0 6px; }

#footer .social a.last { margin-right:0px; }





/** menus **/



.menu-header-menu-container ul { float:left; }



.menu-header-menu-container ul li { float:left; padding:0 17px 0 13px; }



.menu-header-menu-container ul li:last-child { background:none; }



.menu-header-menu-container ul li a { font:13px/34px "Arial"; font-weight:bold; text-decoration:none; }



.menu-header-menu-container{display: inline-block;margin-top: 10px;}







.bottom-nav2 ul { float:left; }



.bottom-nav2 ul li { float:left; padding:0 17px 0 13px; }



.bottom-nav2 ul li:last-child { background:none; }

#div2 {
height: 4px;
}


.bottom-nav2 ul li a { font:12px/34px "Arial"; font-weight:bold; text-decoration:none; }



.bottom-nav2 {display: inline-block;margin-top: 4px;z-index: 999;position: relative;}







.nav1 { position: relative;z-index: 999; text-align:center; width:100%; float:left; }



.nav1 ul { display:inline-block; padding-bottom:14px;}

.nav1 li { padding:0 20px; display:inline-block; display:inline;}



.nav1 li.first { padding-left:10px; }



.nav1 li.last { padding-right:10px; }



.nav1 li a { font:12px/12px Arial, Helvetica, sans-serif;  text-decoration:none;  font-weight: bold;}



.nav1 li a:hover { text-decoration:underline; }



.bottom-nav3 { position: relative;z-index: 999; text-align:center; width:100%; width: 850px;
margin: auto; }

.bottom-nav3  ul { padding-bottom: 7px;}

.bottom-nav3  li { padding: 0 10px 3px 8px;
background: url(images/footer_h_seperator.png) no-repeat right 3px; display: inline-block;}

.bottom-nav3 .last-menu-item{background:none;}


.bottom-nav3 li a {
font: 12px/12px Arial, Helvetica, sans-serif;
color: #fff;
text-decoration: none;

}



.ft-img{text-align: center;margin-left: 110px;}


/**  Extras  **/






































/* image alignment */







.alignright {float:right; margin:0 0 1em 1em}







.alignleft {float:left; margin:0 15px 15px 0}







.aligncenter {display: block; margin-left: auto; margin-right: auto}







a img.alignright {float:right; margin:0 0 1em 1em}







a img.alignleft {float:left; margin:0 1em 1em 0}







a img.aligncenter {display: block; margin-left: auto; margin-right: auto}























/* Image Captions */







.aligncenter,div.aligncenter {display: block;margin-left: auto;margin-right: auto;}







.wp-caption {border: 1px solid #ddd;text-align: center;background-color: #f3f3f3;padding-top: 4px;margin: 10px;	-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}







.wp-caption img {margin: 0;padding: 0;border: 0 none;}







.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;padding: 0 4px 5px;margin: 0;}







/* End captions */







.tab_section { width:100%; padding:17px 0 0 0; background:url(images/seperator.png) no-repeat center top; }



.tab_nav { float:left; }



.tab_nav li { float:left; margin-right:2px; }







.tab_container { -webkit-border-radius: 0px 5px 5px 5px; border-radius: 0px 5px 5px 5px; overflow:hidden; clear:both; background:#fff; }



.tab_content { padding:6px 10px 10px 10px; overflow:hidden; display:none; }

.tab_section{
width: 956px;
margin: auto;}

.tab_content ul { }

ul.sub {
padding: 20px;
background: #eee;
}
h4.main {
font: 22px/24px "CabinBold", Arial;
color: #4c4c4c;
padding: 12px 0;
}

#TabbedPanels1 {
width: 1000px;
margin: auto;
}

#bcont{width:465px;height:59px;height: 51px;
padding-top: 8px;
background-repeat: no-repeat;
padding-left: 7px;}
#col1{width:147px;float:left;}
#col2{width:161px;float:left;}
#col3{width:65px;float:left;}
#col4{width:80px;float:left;}
#bh{height: 20px;
font-family: Arial, Geneva, sans-serif;
text-decoration: none;
text-align: left;

font-size: 14px;
font-weight: normal;
padding-top: 7px;
padding-bottom: 2px;
padding-left: 10px;
font-weight: bold;}
#bb{font-family: Arial, Geneva, sans-serif;padding-left: 10px;margin-top: 3px;

display: block;
font-weight: bold;
text-align: left;
font-size: 14px;
}
/*
.page-id-65 #wrap2{min-height: 550px;}*/
.page-id-65 #bottom{margin-left:100px;width:1000px;}