/*

Theme Name:     Pet Boarding Finder

Theme URI:      http://petboardingfinder.com/

Description:    Child theme for the Family Pet theme

Author:         Charles Gunay

Author URI:     http://mcgwebdesign.info

Template:       fampet                             

Version:        0.1.0

*/



@import url("../fampet/style.css");

#header {
height: 290px;
}
h1{}

h2{color:#51351f;}

#tagline {
color: #51351f;}

#header{background-image:url('images/top_bg.jpg');}
#lefttitle{color: #51351f;}
#orderform{font: 14px/14px Arial, Helvetica, sans-serif;
font-weight: bold;
color: #523620;
}
.box{padding: 8px;padding-top:10px;padding-bottom: 10px;
background: url(images/order_form_divider.png) repeat-x 0 bottom;
width: 260px;
float: left;}
.textbox{}
.submit{width: 168px;
height: 46px;
background: url(images/submit_bg.png) no-repeat center center;
border: 0px none;
font: bold 21px/40px Arial, Helvetica, sans-serif;
color: #fff;
cursor: pointer;
padding-bottom: 7px;
outline: none;}
.submitbox{text-align:center;margin-left: -8px;}
#footer{background-image:url('images/footer_bg.jpg');}

#orderform{background-image:url('images/order_form_bg.png');}
#p2-title{color: #4c4c4c;
font-family: Arial,Geneva,sans-serif;
font-size: 27px;
text-align: left;}
.Newgetquotecontent {
height: 20px;
font-family: Arial, Geneva, sans-serif;
text-decoration: none;
text-align: left;
color: #4c4c4c;
font-size: 14px;
font-weight: normal;
padding-top: 7px;
padding-bottom: 2px;
padding-left: 10px;
font-weight: bold;}
.submit2 {
width: 168px;
height: 46px;
background: url(images/submit_bg.png) no-repeat center center;
bottom: 92px;
left: 70px;
border: 0px none;
font: bold 21px/40px Arial, Helvetica, sans-serif;
color: #fff;
cursor: pointer;
padding-bottom: 0px;
outline: none;
float: left;}
.thankyouheading {
color: #51351f;
font-size: 30px;
font-family: Arial,Georgia, Times New Roman, Times, serif;
font-weight: normal;
}

#bh{
color: #4c4c4c;}
.menu-header-menu-container ul {  border:1px solid #bcb097; background:url(images/nav_bg.gif) repeat-x 0 0; border-radius:20px; -webkit-border-radius:20px; -webkit-box-shadow: 0px 0px 3px 0px #dfd0b3; box-shadow: 0px 0px 3px 0px #dfd0b3; }

.menu-header-menu-container ul li {  background:url(images/nav_divider.gif) no-repeat right 2px; padding:0 17px 0 13px; }

.menu-header-menu-container ul li a { color:#333333; }

.menu-header-menu-container ul li a:hover { color:#523620; }
.nav1 li a {color: #523620;
text-decoration: none;
text-shadow: 1px 1px 1px #f0e1bc;
}

.bottom-nav2 ul {  border:1px solid #bcb097; background:url(images/nav_bg.gif) repeat-x 0 0; border-radius:20px; -webkit-border-radius:20px; -webkit-box-shadow: 0px 0px 3px 0px #dfd0b3; box-shadow: 0px 0px 3px 0px #dfd0b3; }

.bottom-nav2 ul li {  background:url(images/nav_divider.gif) no-repeat right 2px; padding:0 17px 0 13px; }

.bottom-nav2 ul li a { color:#333333; }

.bottom-nav2 ul li a:hover { color:#523620; }



#tab1 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab2 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab3 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab4 { background:url(images/tab1_bg.png) no-repeat right bottom; }

#tab5{ background:url(images/tab1_bg.png) no-repeat right bottom; }

.tab_nav li a { float:left; font:16px/30px "CabinRegular", Arial; color:#161616; text-decoration:none; background:url(images/yellow_bg_hover.gif) repeat-x 0 0; padding:0 10px; border:1px solid #dec992; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; border-bottom:0px; text-shadow: 1px 1px 1px #dec992; }

.tab_nav li a:hover, .tab_nav li a.active { color:#161616; background:url(images/yellow_bg.gif) repeat-x 0 0; position:relative; padding-top:1px; margin-bottom:-1px; }

.tab_content ul li {width:70%; text-align :justify ; padding:12px 0 7px 22px; font:12px/20px Arial, Helvetica, sans-serif; color:#282828; background:url(images/list2.png) no-repeat 0 15px; }
.tab_container {
border: 1px solid #dec992;
-webkit-border-radius: 0px 5px 5px 5px;
border-radius: 0px 5px 5px 5px;
overflow: hidden;
clear: both;
background: #fefbf4;
}


.sbOptions .sbGroup{
	color: #51351f!important;
}
.sbOptions a.sbFocus{
	color: #51351f!important;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #51351f!important;

}
#footer .add { background:url(images/h_line.png) repeat-y right top }


.blueRegardText {
    color: #9F6693;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
}

.CityContentHead {
color: #4c4c4c;
font-family: Georgia, Times New Roman, Times, serif;
font-size: 20px;
text-align: justify;
text-decoration: none;
height: 30px;
padding-top: 3px;
padding-bottom: 3px;
background-color: whitesmoke;
padding-left: 7px;
}
.CityContent {
color: #313131;
font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
line-height: 20px;
text-align: justify;
vertical-align: middle;
padding-top: 5px;
padding-bottom: 5px;
}

/*Tier block starts*/
.tier { position:relative; margin-top:30px; }
.top { margin-top:80px; }
.tier .box-shadow { height:19px; width:100%; position:absolute; left:0px; bottom:-19px; background:url(images/box1_shadow.png) no-repeat center top; }
.tier table th, .tier table td { vertical-align:middle; text-align:center; padding:11px 10px; }
.tier table th{ padding:9px 10px;}
.tier table th{ white-space:nowrap}
.tier ul li { text-align:left; padding:1px 0; padding-left:12px; }
.tier blockquote { border-bottom:1px dashed #523620; padding:5px 0; }
.tier blockquote.last { border-bottom:0px; }
.tier a:hover { text-decoration:underline; }
.tier .col1 { width:23%; }
.tier .col2 { width:18%; }
.tier .col3 { width:16%; }
.tier .col4 { width:15%; }
.tier .col5 { width:10%; }
.tier .col6 { width:18%; }
.tier a { font-size:12px; text-decoration:none;}
.tier a.contact { width:68px; height:25px; display:block; line-height:25px; text-align:center; }

.tier table{ border-collapse:separate !important;}  /* new added*/
.Address_caps{ text-transform:capitalize;}  /* new added*/
/*Tier block 1*/
.tier-box1 { background:url(images/box1_bg.gif); border:1px solid #ebd89f; display:block; border-radius:5px; -webkit-border-radius:5px; position:relative; overflow:hidden; box-shadow:0 0 4px #ebd89f; }
.tier-box1 td {font:13px/18px  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; color:#523620; border-top:1px solid #ebd89f; border-left:1px solid #f5f5f5; text-shadow: 1px 1px 1px #fff; border-right:1px solid #ebd89f; }
.tier-box1 td.first { border-left:0px none; }
.tier-box1 td.last { border-right:0px none; }
.tier-box1 .thead { background:url(images/box1_head_bg.gif) repeat-x 0 0; }
.tier-box1 th { color:#fff; text-shadow:1px 1px 1px #a88523; font:16px/16px "CabinSemiBold", Arial; border-left:1px solid #f3da8d; border-right:1px solid #bf9b2e; }
.tier-box1 th.col1 { border-left:0px none; }
.tier-box1 th.col6 { border-right:0px none; }
.tier-box1 a {  }   /* change*/
.tier-box1 span { clear:both; display:block }              
.tier-box1 ul li { background:url(images/list.png) no-repeat 0 8px; }
.tier-box1 strong { font-family:"CabinBold", Arial; }
.tier-box1 strong span { font-size:15px; }
/*Tier block 2*/
.tier-box2 { background:#f8f6f0; border:1px solid #edd99f; display:block; border-radius:5px; -webkit-border-radius:5px; position:relative; overflow:hidden; }
.tier-box2 td { font:13px/18px  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; color:#65511b; border-top:1px solid #edd99f; border-right:1px solid #edd99f; border-left:1px solid #fbf7f9; text-shadow: 1px 1px 1px #efe8eb; border-bottom:1px solid #fcf9fb; }
.tier-box2 td.first { border-left:0px none; }
.tier-box2 td.last { border-right:0px none; }
.tier-box2 .thead { background:#faeecb; }
.tier-box2 th { color:#65511b; text-shadow:1px 1px 1px #f8e1ec; font:16px/16px "CabinSemiBold", Arial; border-right:1px solid #d8c17d; border-left:1px solid #fcf3db; border-bottom:1px solid #fcf3db; }
.tier-box2 th.col1 { border-left:0px none; }
.tier-box2 th.col6 { border-right:0px none; }
.tier-box2 a {  }   /* change*/
.tier-box2 strong { clear:both; display:block; }    /* change*/
.tier-box2 strong span { line-height:37px; }
.tier-box2 span { display:block;  clear:both; } /* change*/
.tier-box2 img { }              /* change*/
.tier-box2 ul li { background:url(images/list2.png) no-repeat 0 8px; }
.tier-box2 a.contact { background:url(images/contact_bg.png) no-repeat center 0; color:#65511b; }
.tier-box2 strong { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-weight:bold }
.tier-box2 strong span { font-size:15px; }
/*Tier block 3*/
.tier-box3 { background:#f5f4f4; border:1px solid #d3d3d3; display:block; overflow:hidden; }
.tier-box3 td { font:12px/18px  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; color:#4c4c4c; border-top:1px solid #d3d3d3; border-right:1px solid #d3d3d3; border-left:1px solid #fcfcfc ; text-shadow: 1px 1px 1px #fbfbfb; border-bottom:1px solid #fcfcfc; }
.tier-box3 td.first { border-left:0px none; }
.tier-box3 td.last { border-right:0px none; }
.tier-box3 .thead { background:#d4d3d3; }
.tier-box3 th { color:#4c4c4c; text-shadow:1px 1px 1px #f8e1ec; font:14px/16px "CabinSemiBold", Arial; border-right:1px solid #cbcbcb; border-left:1px solid #eae9e9; border-bottom:1px solid #fafafa; }
.tier-box3 th.col1 { border-left:0px none; }
.tier-box3 th.col6 { border-right:0px none; }
.tier-box3 a {  }       /* change*/
.tier-box3 strong { clear:both; display:block; }    /* change*/
.tier-box3 strong span { line-height:37px; }
.tier-box3 span { display:block; clear:both; }  /* change*/
.tier-box3 img { }      /* change*/
.tier-box3 ul li { background:url(images/list3.png) no-repeat 0 8px; }
.tier-box3 a.contact { background:url(images/contact_bg2.png) no-repeat center 0; color:#fff; text-shadow:none }
.tier-box3 strong { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-weight:bold }
.tier-box3 strong span { font-size:13px; }

.pager{ display:block; overflow:hidden; padding:15px 0 10px 0; text-align:center; background:#f5f4f4; border:1px solid #d3d3d3; border-top:0px;}
.pager ul{ display:inline-block; *display:block; *width:336px;*margin:0 auto;}
.pager ul li{ float:left; padding:0px 2px;}
.pager ul li a{ float:left; width:30px; height:30px; background:url(images/pager_bg.png) no-repeat center center; font:14px/23px "CabinRegular", Arial; color:#585256; text-align:center; text-shadow:1px 1px 1px #e9e9e9;}
.pager ul li a.prev{ background:url(images/pager_prev.png) no-repeat center center;}
.pager ul li a.next{ background:url(images/pager_next.png) no-repeat center center;}
/*Tier block ends*/


#footer p {
clear: both;}

#bcont{
background-image: url(http://mcgwebdesign.info/fampet/localdogwalker/wp-content/themes/fampet/inc/rsc/bg.jpg);}

#bb{
color: #252525;
}
.bottom-nav3 li a {color: #523620;
text-shadow: 1px 1px 1px #f0e1bc;
}