/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border-style: none;
	border-color: inherit;
	border-width: 0;
	font-size:100%; vertical-align:baseline; margin:0px 0 0 0; 
	padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }
/*Layout Starts*/
#outer_wrapper, #header, #body_container, #footer { width:100%; float:left; }
#outer_wrapper { background:url(../images/top_bg.jpg) no-repeat center top; }
.inner_wrapper { width:956px; margin:0 auto; }
/*Body Starts*/
#body_container { }
.order_form { background:url(../images/order_form_bg.png); height:506px; width:312px; position:relative; float:left; margin-right:61px; }
.order_form .form-wrap { width:276px; margin:0 auto; padding:20px 0 0 0 }
.order_form form { width:276px; margin:0 auto; padding:20px 0 0 0 }
.order_form h3 { text-align:center; font:bold 19px/19px Arial, Helvetica, sans-serif; color:#fff; }
.order_form ul { padding:10px 0 0 0; }
.order_form ul li { padding:8px; background:url(../images/order_form_divider.png) repeat-x 0 bottom; width:260px; float:left; }
.order_form ul li.last { background:none; }
.order_form label { font:14px/14px Arial, Helvetica, sans-serif; font-weight:bold; color:#975b91; text-shadow: 1px 1px 1px #dfcadd; }
.order_form .input_holder { padding:8px 0 0 0; }
.order_form .text { border:1px solid #b1a999; height:26px; -webkit-border-radius: 3px; border-radius: 3px; color:#666666; font:12px/26px Arial, Helvetica, sans-serif; }
.order_form select { border:1px solid #b1a999; height:26px; -webkit-border-radius: 3px; border-radius: 3px; color:#666666; font:12px/26px Arial, Helvetica, sans-serif; width:258px; }
.order_form .row { padding:0 0 5px 0; width:100%; float:left }
.order_form span.c_radio { font:12px/15px Arial, Helvetica, sans-serif; color:#975b91; position:relative; cursor:pointer; padding-left:20px; width:40px; float:left; background:url(../images/radio.png) no-repeat 0 0; text-shadow: 1px 1px 1px #dfcadd; }
.order_form span.c_radio.active { background-position:0 bottom; }
.order_form span.c_radio .radio { position:absolute; left:0px; top:0px; height:10px; width:10px; margin:0px; }
.order_form .submit { width:168px; height:46px; background:url(../images/submit_bg.png) no-repeat center center; position:absolute; bottom:92px; left:70px; border:0px none; font:bold 21px/40px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer; padding-bottom:7px; outline:none; }
.order_form .submit:hover { color:#161616; }
.logo_truste { position:absolute; bottom:25px; left:70px; }
.mt_12 { margin-top:12px; }
.w_258 { width:248px; padding:0 5px; }
.w_198 { width:188px; padding:0 5px; }
.right_content { float:right; width:583px; padding-top:56px; }
.right_content h3 { font:26px/26px "CabinBold", Arial; color:#4c4c4c; padding:12px 0; text-shadow: 1px 1px 1px #ccc; }
.list_box { background:#fcf6fc; padding:20px 12px 19px 12px; border:1px solid #e0c2df; float:left; -webkit-border-radius: 5px; border-radius: 5px; position:relative; }
.list_box.wt_shdw { margin-bottom:29px; }
.list_box.wt_head { margin-top:30px; }
.list_box.wt_head h4 { font:20px/35px "CabinRegular", Arial; position:absolute; color:#fff; border:1px solid #bf77bb; -webkit-border-radius: 5px; border-radius: 5px; padding:0 40px; left:165px; top:-25px; background:url(../images/yellow_bg.gif) repeat-x 0 0; text-shadow: 1px 1px 1px #b37db0; }
.list_box ul { padding:4px 0px; float:left }
.list_box ul li {width:70%; padding:4px 0 8px 51px; float:left; clear:both; font:14px/22px "CabinRegular", Arial; background: url(../images/list.png) no-repeat 0 7px;}
.list_box .more { font:16px/30px "CabinRegular", Arial; color:#fff; width:112px; height:30px; background:url(../images/more_bg.png) no-repeat 0 0; float:right; text-align:center; text-decoration:none; position:relative; margin-right: 7px; margin-top: 5px; text-shadow: 1px 1px 1px #a46ca1; }
.list_box .more:hover { color:#161616; }
.list_box .more span { position:absolute; width:112px; height:17px; background:url(../images/more_shadow.png) no-repeat 0 0; left:0px; bottom:-17px; }
.list_box .box_shadow { position:absolute; width:597px; height:47px; bottom:-47px; left:0px; background:url(../images/list_box_shadow.png) no-repeat center center; }
.list_box2 { font:18px/18px "CabinSemiBold", Arial; color:#aa5b9b; padding:14px 15px; text-align:center; margin-bottom:15px; text-shadow: 1px 1px 1px #fff; }
.list_box2 strong { padding-bottom:14px; display:block }
.list_box2 span { color:#464646; display:block }
.list_box2 span a { color:#aa5b9b; text-decoration:none; }
.list_box2 span a:hover { color:#161616; text-decoration:underline }
.tab_section { width:100%; float:left; padding:17px 0 0 0; background:url(../images/seperator.png) no-repeat center top; }
.tab_nav { float:left; }
.tab_nav li { float:left; margin-right:2px; }
.tab_nav li a { float:left; font:16px/30px "CabinRegular", Arial; color:#fff; text-decoration:none; background:url(../images/yellow_bg_hover.gif) repeat-x 0 0; padding:0 10px; border:1px solid #e0c2df; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; border-bottom:0px; text-shadow: 1px 1px 1px #b881b5; }
.tab_nav li a:hover, .tab_nav li a.active { color:#161616; background:url(../images/yellow_bg.gif) repeat-x 0 0; position:relative; padding-top:1px; margin-bottom:-1px; }
.tab_container { border:1px solid #e0c2df; -webkit-border-radius: 0px 5px 5px 5px; border-radius: 0px 5px 5px 5px; overflow:hidden; clear:both; background:#fff; }
.tab_content { padding:6px 10px 10px 10px; overflow:hidden; display:none; }
.tab_content ul { }
.tab_content ul li {width:70%; text-align :justify ; padding:12px 0 7px 22px; font:12px/20px Arial, Helvetica, sans-serif; color:#282828; background:url(../images/list2.png) no-repeat 0 15px; }
#tab1 { background:url(../images/tab1_bg.png) no-repeat right bottom; }
#tab2 { background:url(../images/tab1_bg.png) no-repeat right bottom; }
#tab3 { background:url(../images/tab1_bg.png) no-repeat right bottom; }
#tab4 { background:url(../images/tab1_bg.png) no-repeat right bottom; }
#tab5{ background:url(../images/tab1_bg.png) no-repeat right bottom; }

/*Body Ends*/
/*Custom selectbox starts*/
.stylish-select .SSContainerDivWrapper { left:-9999px; }
.stylish-select .SSContainerDivWrapper { margin:0; padding:0; width:100%; position:absolute; top:26px; left:0; z-index:2; }
.stylish-select ul.newList { margin:0; padding:0; list-style:none; color:#000; background:#fff; border:1px solid #ccc; overflow:auto; }
.stylish-select ul.newList * { margin:0; padding:0; }
.stylish-select ul.newList a { color: #444; text-decoration:none; display:block; padding:2px 9px; line-height:20px; cursor:pointer }
.stylish-select .newListSelected { border:1px solid #b1a999; height:26px; -webkit-border-radius: 3px; border-radius: 3px; color:#666666; font:12px/26px Arial, Helvetica, sans-serif; background:#fff; width:258px;}
.stylish-select ul.newList li { width:100%; padding:0px; background:none; }
.stylish-select ul.newList li a:focus { -moz-outline-style: none; }
.stylish-select .selectedTxt { overflow:hidden; height:26px; padding:0 40px 0 10px; background:url(../images/dd_bg.png) no-repeat right -1px; cursor:pointer;  width:208px;font-weight:bold;}
.stylish-select .hiLite { background:#975b91!important; color:#fff!important; }
.stylish-select .newListHover { background:#f0e1ee!important; color:#666!important; cursor:default; }
.stylish-select .newListDisabled { opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); }
.stylish-select .newListItemDisabled { opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); }
.stylish-select .newListOptionDisabled { opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); }
.stylish-select .newListSelHover, .stylish-select .newListSelFocus { background-position:0 -22px; cursor:default; }
.stylish-select .newListOptionTitle { font-weight:bold; }
.stylish-select .newListOptionTitle ul { margin:3px 0 0; }
.stylish-select .newListOptionTitle li { font-weight:normal; }
/*Custom selectbox ends*/


 /*For Network join Page*/
 
 
 
 .Petsittingheader
{
	width:1200px;
	background-image:url(../Images/petsitter_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Dogwalkingheader
{
	width:1200px;
	background-image:url(../Images/dogwalker_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Petboardingheader
{
	width:1200px;
	background-image:url(../Images/petBoarder_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Dogydayheader
{
	width:1200px;
	background-image:url(../Images/doggiedaycare_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Dogtrainingheader
{
	width:1200px;
	background-image:url(../Images/dogtrainer_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Petwestheader
{
	width:1200px;
	background-image:url(../Images/wasteremoval_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Petgroomingheader
{
	width:1200px;
	background-image:url(../Images/groomer_01.jpg);
	height:157px;
	background-repeat:no-repeat;
}

.navcontainer
{
	width:888px;
	height:48px;
	background-repeat:no-repeat;
	padding-top:20px;
}

.navcontainer a
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#333;
	text-decoration:none;
}
.navcontainer a:link
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#333;
	text-decoration:none;
}

.navcontainer a:hover
{              font-size:13px;
	color:#0099FF;
	font-weight:bold;
	text-decoration:none;
}
.navcontainer a:active
{
	color:#0099FF;
	text-decoration:none;
}

#menuPetsitting
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	font-weight:bolder;
	width:68px;
	margin-left:20px;
	display:block;
	float:left;
}

#menudogwalking
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:13px;
	font-weight:bolder;
	width:90px;
	float:left;
	margin-left:22px;
	position:relative;
	
}
#menupetboarding
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:90px;
	margin-left:10px;
	float:left;
	position:relative;
	
}
#menudogiedaycare
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:110px;
	float:left;
	margin-left:10px;
	position:relative;
	
}
#menudogtraining
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:90px;
	float:left;
	margin-left:9px;
	position:relative;
	
}
#menupetwasteremoval
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:130px;
	float:left;
	margin-left:8px;
	position:relative;
	
}
#menupetgrooming
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:90px;
	float:left;
	margin-left:10px;
	position:relative;
	
}




.header_left
{
	vertical-align:bottom;
width:312px;
height:154px;
background-repeat:no-repeat;
}

.header_right_top
{
	vertical-align:bottom;
width:888px;
height:48px;
background-image:url(../Images/navigation.gif);
background-repeat:no-repeat;
}

.header_right_bottom_left
{
	vertical-align:bottom;
	width:117px;
	height:106px;
	background-repeat:no-repeat;
}
.header_right_bottom_right
{
	vertical-align:bottom;
	width:771px;
	height:106px;
	background-image:url(../Images/petSitting_web_home_04.gif);
	background-repeat:no-repeat;
}
.Body_Top_Left
{
	vertical-align:top;
	width:147px;
	height:100px;
	background-image:url(../Images/homePage_02.gif);
	background-repeat:no-repeat;
}
.Body_Top_Middle
{
	vertical-align:top;
	width:319px;
	height:515px;
	background-image:url(../Images/newformBack.gif);
	background-repeat:no-repeat;
}

.Body_Top_Middle_JoinNW
{
	vertical-align:top;
	width:319px;
	height:118px;
	background-image:url(../Images/homePage_03.gif);
	background-repeat:no-repeat;
}
.Body_Top_Middle_PD_Form
{
	vertical-align:top;
	width:319px;
	
	background-image:url(../Images/homePage_03.gif);
	background-repeat:no-repeat;
}
.Body_Top_Right
{
	vertical-align:top;
	width:147px;
	height:100px;
	background-image:url(../Images/homePage_02.gif);
	background-repeat:no-repeat;
}
.Body_Middle_Left
{
	vertical-align:top;
	width:147px;
	height:419px;
	background-color:White;
	
}

.Body_Middle_Right
{
	vertical-align:top;
	width:607px;
	/*height:419px;*/
	background-color:White;
}
.Body_Margin_Right
{
	vertical-align:top;
	width:127px;
	height:419px;
	background-color:White;
	
}
.Body_Bottom_Left
{
	vertical-align:top;
	width:147px;
	height:206px;
	background-color:White;
	
}
.Body_Bottom_Middle
{
	vertical-align:top;
	width:926px;
	height:206px;
	background-color:White;
	
}
.Body_Bottom_Right
{
	vertical-align:top;
	width:127px;
	height:206px;
	background-color:White;
	
}

.Footer_Top
{
	width:1200px;
	height:143px;
	background-image:url(../Images/footer-top.gif);
	
}
.Footer_Middle
{
	text-align:center;
	width:1200px;
	height:159px;
	background-image:url(../Images/footer-middleNew1.gif);
	
}
.Footer_Bottom
{
	text-align:center;
	width:1200px;
	height:149px;
	background-image:url(../Images/footer-bottom.gif);	
}

.ThankYouHeaderBottom
{
width:1200px;
height:229px;
background-image:url(../Images/ThankuBottomHeader.jpg);
background-repeat:no-repeat;
}
.HomePageBulletHeading
{
	width:542px;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0099FF;
	vertical-align:top;
	font-size:24px;
	text-align:left;
	padding-left:5px;
	font-weight:500;
		
}
.HomePageBulletPoint
{
	width:68px;
	vertical-align:top;
}
.HomePageBulletContent
{
	vertical-align:top;
	width:454px;
	font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-size:14px;
	text-align:justify;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:5px;
	line-height:20px;
	padding-left:10px;
	padding-top:5px;
	
}

.PetSittingHomePageContentHeading
{
	width:602px;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0099FF;
	vertical-align:top;
	font-size:24px;
	text-align:left;
	padding-left:30px;
}
.PetSittingHomePageBulletPoint
{
	width:108px;
}
.PetSittingHomePageBulletContent
{
	width:602px;
	font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-size:14px;
	text-align:justify;
	padding-bottom:2px;
	padding-left:30px;
	line-height:22px;
	vertical-align:top;
}
.PetSittingHomePageBulletContent a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:14px;
	line-height:22px;
}
.PetSittingHomePageBulletContent a:link
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:14px;
	line-height:22px;
}
.PetSittingHomePageBulletContent a:hover
{
	color:#318DC7;
	font-size:14px;
	line-height:22px;
	text-decoration:none;
}
.PetSittingHomePageBulletContent a:active
{
	color:#313131;
	font-size:14px;
	line-height:22px;
	text-decoration:none;
}

.PetSittingHomePageContentHeadingLower
{
	width:927px;
	height:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0099FF;	
	font-size:24px;
	padding-left:10px;
	text-align:left;
	vertical-align:top;
}
.PetSittingHomePageBulletPointLower
{
	width:927px;
	vertical-align:top;
}
.PetSittingHomePageBulletContentLower
{
	width:927px;
	font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-size:14px;
	text-align:justify;
	padding-bottom:2px;
	padding-left:10px;
	line-height:22px;
	vertical-align:top;
}

.PetSittingHomePageBulletContentLower a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#0099FF;	
	font-size:14px;
	line-height:22px;
}
.PetSittingHomePageBulletContentLower a:link
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#0099FF;	
	font-size:14px;
	line-height:22px;
}
.PetSittingHomePageBulletContentLower a:hover
{
	color:#54C06B;
	text-decoration:none;
	font-size:14px;
	line-height:22px;
}
.PetSittingHomePageBulletContentLower a:active
{
	color:#0099FF;
	text-decoration:none;
	font-size:14px;
	line-height:22px;
}

.bottomcontent1
{
	width:987px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	color:#2E3830;
	font-size:12px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
	padding-left:1px;
}
.bottomcontent1 a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#2E3830;
	font-size:12px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
}

.bottomcontent1 a:link
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#2E3830;
	font-size:12px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent1 a:hover
{
	color:#318DC7;
	font-weight:bold;
	text-decoration:none;
}

.bottomcontent1 a:active
{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}
.bottomcontent1Active
{
	width:927px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	color:#009CFF;
	font-size:12px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent2
{
	width:927px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	color:#2E3830;
	font-size:11px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent3
{
	width:987px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	color:#6C8473;
	font-size:12px;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent3 a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#6C8473;
	font-size:12px;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent3 a:link
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#6C8473;
	font-size:12px;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent3 a:active
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#6C8473;
	font-size:12px;
	padding-top:0px;
	padding-bottom:2px;
}
.bottomcontent3 a:hover
{
	color:#318DC7;
	text-decoration:none;
}
.bottomcontent4
{
font-family:Arial, Helvetica, sans-serif;
color:#6C8473;
font-size:12px;

}

.BottomNavContainer
{
	padding-top:2px;
	width:987px;
	
}
.BottomNavContainer a
{
	font-family:Arial, Geneva, sans-serif;
	font-size:12px;
	color:#676767;
	text-decoration:none;
}

.BottomNavContainer a:link
{
	font-family:Arial, Geneva, sans-serif;
	font-size:12px;
	color:#676767;
	text-decoration:none;
}

.BottomNavContainer a:hover
{
	color:#06C;
	font-weight:bold;
	text-decoration:none;
}
.BottomNavContainer a:active
{
	color:#676767;
	text-decoration:none;
}

#BottomMenuLocation
{
	font-family:Arial, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	width:70px;
	margin-left:15px;
	display:block;
	float:left;
}

#BottomMenuPartnerships
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:100px;
	float:left;
	margin-left:10px;
	position:relative;
	
}
#BottomMenuJoinOurNetwork
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:130px;
	margin-left:0px;
	float:left;
	position:relative;
	
}
#BottomMenuHowItWorks
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:100px;
	float:left;
	margin-left:0px;
	position:relative;
	
}
#BottomMenuCoupons
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:70px;
	float:left;
	margin-left:0px;
	position:relative;
	
}
#BottomMenuTermsOfUse
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:110px;
	float:left;
	margin-left:0px;
	position:relative;
	
}
#BottomMenuPrivacyPolicy
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:110px;
	float:left;
	margin-left:0px;
	position:relative;
	
}
#BottomMenuContactUs
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:80px;
	float:left;
	margin-left:0px;
	position:relative;
	
}
#BottomMenuAdminLogin
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:90px;
	float:left;
	margin-left:0px;
	position:relative;	
}

#BottomMenuArticles
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:60px;
	float:left;
	margin-left:0px;
	position:relative;	
}
#BottomMenuBlog
{
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	width:30px;
	float:left;
	margin-left:0px;
	position:relative;	
}

.PageLink
{
	width:888px;
	height:48px;
	background-image:url(../Images/linkPadWide.gif);
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:12px;
}
.PageLink a
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#55C06C;
	text-decoration:none;
	padding-left:13px;
	font-weight:bold;
}

.PageLink a:link
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#55C06C;
	text-decoration:none;
	padding-left:13px;
	font-weight:bold;
	text-align:right;
}

.PageLink a:hover
{
	color:#06C;
	font-weight:bold;
	text-decoration:none;
}
.PageLink a:active
{
	color:#06F;
	text-decoration:none;
}
.PageLink1
{
	width:888px;
	height:48px;
	background-image:url(../Images/pad.jpg);
	background-repeat:no-repeat;
	vertical-align:top;
	padding-top:17px;
	font-size:12px;
}
.PageLink1 a
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#55C06C;
	text-decoration:none;
	padding-left:13px;
	font-weight:bold;
}

.PageLink1 a:link
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#55C06C;
	text-decoration:none;
	padding-left:13px;
	font-weight:bold;
	text-align:right;
}

.PageLink1 a:hover
{
	color:#06C;
	font-weight:bold;
	text-decoration:none;
}
.PageLink1 a:active
{
	color:#06F;
	text-decoration:none;
}

.FormHeading
{
	height:50px;
	font-family:Arial, Geneva, sans-serif;
	font-size:27px;
	color:#63B175;
	text-decoration:none;
	padding-left:30px;
	text-align:left;
}

.FormQuestion
{
	vertical-align:top;
	height:39px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	line-height:20px;
	color:#313131;	
	Text-decoration:none;
	padding-left:30px;
	text-align:left;
	padding-top:8px;
}

.FormQuestionControlText
{
	vertical-align:top;
	height:39px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	line-height:20px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	padding-top:10px;
	background-image:url(../Images/txtBoxPDForm.gif);
	background-repeat:no-repeat;
}

.FormQuestionControlCombo
{
	vertical-align:top;
	height:39px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	line-height:20px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	padding-top:8px;
	background-image:url(../Images/comboPDForm.gif);
	background-repeat:no-repeat;
}
.FormOption
{
	vertical-align:top;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#8E8D89;
	text-decoration:none;
	padding-left:30px;
	text-align:left;
}
.FormSpaceSmall
{
	height:3px;
}
.getquoteJoinNWContent
{
	height:20px;
	width:248px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	color:#666666;
	font-size:13px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:15px;
	text-align:justify;
	line-height: 13px;
	
}
.getquoteJoinNWBullet
{
	width:40px;
	}
.getquoteHeading
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:2px;
	padding-right:3px;
	/*word-spacing:2px;*/
	vertical-align:top;
	
}

.getquotecontent
{
	height:20px;
	width:325px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	color:#317040;
	font-size:14px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
	padding-left:27px;
	
}

.getquotecontrol
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	height:23px;
	color:#476D50;
	font-size:14px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:28px;
}
.getquotecontrolnew
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	height:20px;
	color:#476D50;
	font-size:14px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
}
.getquotecontrolContent
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	color:#476D50;
	font-size:14px;
	padding-top:0px;
	padding-bottom:2px;
	padding-left:35px;
	padding-right:30px;
}

.getquotecontrolRadio
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	color:#666666;
	font-size:14px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	font-weight:normal;
}


.getquotecontrolPetType
{
	height:23px;
	
	background-repeat:no-repeat;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	color:#476D50;
	font-size:14px;
	padding-top:1px;
	padding-bottom:0px;
	padding-left:6px;
}
.frmtextbox
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
font-weight:900;
border-width:0px;
width:245px;
height:18px;
padding-left:10px;
padding-top:0px;
background-color:Transparent;
vertical-align:top;
padding-top:0px;

}

.frmtextboxPD
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
font-weight:900;
border-width:0px;
width:230px;
height:17px;
padding-left:10px;
padding-top:0px;
background-color:#F9F7F4;
vertical-align:top;
padding-top:0px;
padding-right:5px;

}
.frmtextboxPetType
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:12px;
font-weight:900;
border-width:0px;
width:180px;
height:18px;
padding-left:14px;
padding-top:0px;
background-color:Transparent;
vertical-align:top;
padding-top:0px;
}

.frmtextboxCombo
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
border-width:0px;
width:250px;
height:18px;
padding-left:10px;
padding-top:0px;
background-color:#F9F7F4;
vertical-align:top;


}
.contextbox1
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#93928E;
background-color:#F8F7F3;
font-size:11px;
border:1px solid #E0E0E0;
width:200px;
height:20px;
line-height:20px;
}

.thankyoutablecustomer
{
	background-image:url(../Images/thankyoucustomer.gif);
	background-repeat:no-repeat;
	height:575px;
	width:834px;
}
.thankyouheading
{
	color:#843d75;
	font-size:30px;
	font-family:Arial,Georgia, Times New Roman, Times, serif;
	font-weight:normal;
	padding-left:30px;
}
.thankyoucontent
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	padding-top:0px;
	padding-left:30px;
	padding-right:20px;
	text-align:justify;
}

.Coupon1Top
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	font-weight:600;
	color:#666666;
	padding-top:5px;
	padding-left:25px;
	padding-right:20px;
	text-align:justify;
}
.Coupon1TopSpan
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	font-weight:900;
	color:#54BF6C;
	padding-top:5px;
	padding-left:0px;
	padding-right:0px;
	text-align:justify;
}

.Coupon1Middle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:38px;
	font-weight:bold;
	color:#BDBDBD;
	padding-top:5px;
	padding-left:30px;
	padding-right:0px;
	text-align:justify;
	vertical-align:bottom;
	height:40px;
}
.Coupon1Bottom
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:600;
	color:#949D9F;
	padding-top:5px;
	padding-left:25px;
	padding-right:15px;
	text-align:justify;
}
.Coupon1Line
{
	background-image:url(../Images/Coupon1line.gif);
	background-repeat:no-repeat;
	height:10px;
	width:834px;
	padding-left:10px;
}
.Coupon1Link
{
	width:888px;
	height:48px;
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:14px;
	text-align:left;
	padding-left:18px;
}
.Coupon1Bottom a
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#1590E7;
	text-decoration:none;
	padding-left:0px;
	font-weight:bold;
}

.Coupon1Bottom a:link
{
	font-family:Arial, Geneva, sans-serif;
	font-size:15px;
	color:#1590E7;
	text-decoration:none;
	padding-left:0px;
	font-weight:bold;
	text-align:right;
}

.Coupon1Bottom a:hover
{
	color:#06C;
	font-weight:bold;
	text-decoration:none;
}
.Coupon1Bottom a:active
{
	font-family:Arial, Geneva, sans-serif;
	font-size:15px;
	color:#1590E7;
	text-decoration:none;
	padding-left:0px;
	font-weight:bold;
	text-align:right;
}

.Coupon2
{
	background-image:url(../Images/coupan2-back.gif);
	background-repeat:no-repeat;
	height:199px;
	width:442px;
}
.Coupon2Top
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#55C06C;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}

.Coupon2Middle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#666666;
	padding-top:5px;
	padding-left:35px;
	padding-right:20px;
	text-align:justify;
}

.Coupon2Line
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#666666;
	padding-top:5px;
	padding-left:35px;
	padding-right:20px;
	text-align:justify;
}
.Coupon2Bottom
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:800;
	color:#949D9F;
	padding-top:5px;
	padding-left:35px;
	padding-right:20px;
	text-align:justify;
}

.Coupon2Link
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:800;
	color:#949D9F;
	padding-top:5px;
	padding-left:35px;
	padding-right:3px;
	text-align:left;
	height:36px;
}
.Coupon2Link a
{
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	color:#1590E7;
	text-decoration:none;
	padding-left:0px;
	font-weight:bold;
}

.Coupon2Link a:link
{
	font-family:Arial, Geneva, sans-serif;
	font-size:15px;
	color:#1590E7;
	text-decoration:none;
	padding-left:0px;
	font-weight:bold;
	text-align:right;
}

.Coupon2Link a:hover
{
	color:#06C;
	font-weight:bold;
	text-decoration:none;
}
.Coupon2Link a:active
{
	font-family:Arial, Geneva, sans-serif;
	font-size:15px;
	color:#1590E7;
	text-decoration:none;
	padding-left:0px;
	font-weight:bold;
	text-align:right;
}


.Layer
{
	background-color:#F4F3F1;
	color:#93928E;
	position:relative; 
top: 1px; 
left: 37px; 
width: 0px; 
height: 0px; 
z-index: 1; 
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:13px;
} 

.Layer td:hover
{
	color:#06C;
	font-weight:normal;
}

/* terms of use*/

.termsheading
{
font-family:Georgia, "Times New Roman", Times, serif;
color:#843d75;
font-size:24px;
font-weight:bold;
padding-left:30px;
}
.termsubheading
{
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-size:18px;
font-weight:bold;
padding-left:30px;
}
.termscontent
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:normal;
padding-left:30px;
padding-right:30px;
text-align:justify;

}
.termscontent a
{
font-family:Arial, Helvetica, sans-serif;
color:#AF73AF;
font-size:12px;
font-weight:normal;
}
.termscontent1
{
font-family:Arial, Helvetica, sans-serif;
color:#476D50;
font-size:12px;
font-weight:normal;
padding-left:30px;
padding-right:30px;
text-align:justify;

}

/*Join Our NetWork Content*/
.JoinBottomHeading
{
	vertical-align:top;
	
	font-family:Arial, Helvetica, sans-serif;
	color: #843D75;
	font-size:24px;
	text-align:left;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	line-height:20px;
	padding-left:170px;
	vertical-align:top;
}
.JoinBottomContent
{
	vertical-align:top;
	
	font-family:Arial, Helvetica, sans-serif;
	color:#606060;
	font-size:12px;
	text-align:left;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:120px;
	line-height:16px;
	padding-left:170px;	
	vertical-align:top;
}

.LayerComType
{
	background-color:#F4F3F1;
	color:#93928E;
	position:relative; 
top: 1px; 
left: 5px; 
width: 0px; 
height: 0px; 
z-index: 1; 
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:13px;
} 

.LayerComType td:hover
{
	color:#06C;
	font-weight:normal;
}

.LayerSateCity
{
	background-color:#F4F3F1;
	color:#93928E;
	position:relative; 
	top: 3px; 
	left: 5px; 
	width: 0px; 
	height: 0px; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	overflow:auto;
	z-index:1;
} 

.LayerSateCity td:hover
{
	color:#06C;
	font-weight:normal;
}

/*admin section*/

.backad
{
background-image:url(../images/admin-back.jpg);
width:425px;
height:370px;
background-repeat:repeat-y;
}
.admintext
{
font-family:Arial, Helvetica, sans-serif;
color:#5D5D5D;
font-size:16px;
font-weight:bold;
padding-left:75px;
padding-right:40px;
}
.adtextbox
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:normal;
height:20px;
width:275px;
border:1px solid #B0B6BB;
padding-top:5px;
line-height:20px;

}
.adimg
{
padding-right:75px;
}

/*report generation*/
.repheading
{
font-family:Georgia, "Times New Roman", Times, serif;
color:#54C06B;
font-size:30px;
font-weight:normal;
padding-left:10px;
}
.repheader
{
font-family:Arial, Helvetica, sans-serif;
color:#767676;
font-size:14px;
font-weight:bold;
padding-top:17px;
padding-left:10px;
width:738px;
height:50px;
}
.repcontent
{
background-image:url(../images/report-gen-back.jpg);
background-repeat:no-repeat;
width:239px;
height:368px;
}
.repcontent1
{

font-family:Arial, Helvetica, sans-serif;
color:#868768;
font-size:14px;
font-weight:bold;
padding-left:10px;
padding-top:20px;
height:40px;
}
.repcontent2
{

font-family:Arial, Helvetica, sans-serif;
color:#5F603D;
font-size:14px;
font-weight:bold;
padding-top:17px;
padding-left:25px;
}
.repotextbox
{
height:20px;
width:100px;
border:1px solid #B0B6BB;
}
.repomg
{
padding-right:15px;
}
/*Report*/

.reportcontent1
{

font-family:Arial, Helvetica, sans-serif;
color:#5F603D;
font-size:12px;
font-weight:normal;
padding-top:5px;
padding-left:25px;
}
.reportcontent2
{

font-family:Arial, Helvetica, sans-serif;
color:#878868;
font-size:12px;
font-weight:normal;
padding-top:10px;
}
.reportcontent3
{

font-family:Arial, Helvetica, sans-serif;
color:#5F603D;
font-size:12px;
font-weight:normal;
padding-top:0px;
padding-left:20px;
}

.reportto
{

font-family:Arial, Helvetica, sans-serif;
color:#5F603D;
font-size:12px;
font-weight:bold;
padding-bottom:2px;
padding-left:70px;
}
.reportcaltextbox
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
padding-top:5px;
padding-left:20px;
}
.reportcal
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
padding-top:5px;
}
.griditems
{
font-family:Verdana;
font-size:10px;
font-weight:normal;
padding:4px;
}
.gridheader
{
font-family:Verdana;
font-size:11px;
font-weight:bold;
padding:4px;
}
.frmtextbox1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
color:#000000;
font-size:11px;
border:1px solid #B0B6BB;
width:100px;
height:20px;
line-height:20px;
}

.ZipMsg
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:800;
	color:#949D9F;
	padding-top:5px;
	padding-left:35px;
	padding-right:3px;
	text-align:left;
	height:36px;
}

/*Contact Us Start*/
.pship
{
	color:#843D75;
	font-size:30px;
	font-family:Georgia, Times New Roman, Times, serif;
	padding-left:10px;
}
.pshipcontent
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	padding-top:5px;
	padding-left:10px;
	padding-right:110px;
	text-align:justify;

/*font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:14px;
font-weight:normal;
padding-left:93px;
line-height:25px;
padding-right:93px;
text-align:justify;*/
}
.contactheader
{
background-image:url(../images/contact-top.gif);
width:950px;
height:20px;

}
.contactfooter
{
background-image:url(../images/contact-bottom.gif);
width:950px;
height:21px;

}
.contactrepeat
{
background-image:url(../images/contact-repeat.gif);
width:950px;
height:7px;
background-repeat:repeat-y;

}
.contactcon
{
	font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#330066;
font-size:14px;
padding-right:25px;
padding-top:5px
/*
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:14px;
font-weight:normal;
padding-left:50px;*/

}
.contextbox2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
color:#000000;
font-size:11px;
border:1px solid #B0B6BB;
width:360px;
height:120px;
padding-left:5px;
padding-right:5px;
}
.contextbox1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
color:#000000;
font-size:11px;
border:1px solid #B0B6BB;
width:160px;
height:20px;
line-height:20px;
/*	
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000000;
font-size:12px;

border:1px solid #B0B6BB;
width:150px;
height:20px;*/

}
.subb
{
padding-right:0px;
}
/* Contact Us End*/

.partnership
{
	
}
.partnershipcontent
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	padding-top:5px;
	padding-left:50px;
	padding-right:50px;
	text-align:justify;
}
.partnershipheading
{
	color:#843d75;
	font-size:30px;
	font-family:Georgia, Times New Roman, Times, serif;
	font-weight:normal;
	padding-left:50px;
}

/*Location*/
.LocationState
{
	width:602px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#B3C166;
	font-size:16px;
	text-align:justify;
	padding-bottom:0px;
	padding-left:60px;
	line-height:16px;
	vertical-align:top;
}
.LocationState a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#B3C166;	
	font-size:16px;
	line-height:16px;
}
.LocationState a:link
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#843D75;	
	font-size:16px;
	line-height:16px;
}
.LocationState a:hover
{
	color:#318DC7;
	text-decoration:none;
	font-size:16px;
	line-height:16px;
}
.LocationState a:active
{
	color:#313131;
	font-size:16px;
	line-height:16px;
	text-decoration:none;
}
.LocationCity
{
	width:602px;
	height:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-size:12px;
	text-align:justify;
	padding-bottom:0px;
	padding-left:60px;
	line-height:12px;
	vertical-align:top;
}
.LocationCity a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:12px;
	line-height:12px;
}
.LocationCity a:link
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:12px;
	line-height:12px;
}
.LocationCity a:hover
{
	color:#318DC7;
	font-size:12px;
	line-height:12px;
	text-decoration:none;
}
.LocationCity a:active
{
	color:#313131;
	font-size:12px;
	line-height:12px;
	text-decoration:none;
}

/*Coupon Page*/
.CouponBox
{
background-image:url(../images/coupenback.gif);
width:562px;
height:204px;
background-repeat:no-repeat;

}

.CouponMarginLeft
{
width:20px;
height:204px;
}
.CouponMarginRight
{
width:15px;
height:204px;
}
.CouponBoxHeading
{
	vertical-align:top;
	width:430px;
	height:25px;
	font-weight:800;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#52C06A;	
	font-size:24px;
	line-height:26px;
}
.CouponBoxContent
{
	vertical-align:top;
	width:402px;
	height:82px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:14px;
	line-height:15px;
	text-align:justify;
	padding-right:45px;
	font-weight:400;
}
.CouponBoxContent a
{
	vertical-align:top;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#2097E8;	
	font-size:14px;
	line-height:15px;
}
.CouponBoxContent a:link
{
	vertical-align:top;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#2097E8;	
	font-size:14px;
	line-height:15px;
}
.CouponBoxContent a:hover
{
	vertical-align:top;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#52C06A;	
	font-size:14px;
	line-height:15px;
}
.CouponBoxBottom
{
	vertical-align:top;
	width:402px;
	height:20px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#2097E8;	
	font-size:14px;
	line-height:15px;
	font-weight:bold;
}
.CouponBoxBottom a
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#2097E8;	
	font-size:14px;
	line-height:15px;
	padding-top:10px;
	font-weight:bold;
}
.CouponBoxBottom a:hover
{
	color:#52C06A;
	font-size:14px;
	line-height:15px;
	padding-top:10px;
	font-weight:bold;
	text-decoration:none;
}
.CouponBoxBottom a:active
{
	color:#2097E8;
	font-size:14px;
	line-height:15px;
	padding-top:10px;
	font-weight:bold;
	text-decoration:none;
}
/*Testimonial Link*/
.headerHeadingTesti
{
font-family: tahoma, sans-serif;
font-weight:bold;
color:#7A2F92;
margin:0px 0px 0px 30px;
font-size:15px;
}
.headerHeadingTesti a
{
font-family: tahoma, sans-serif;
font-weight:bold;
color:#0000FF;
font-size:15px;
}
.headerHeadingTesti a:hover 
{
font-family: tahoma, sans-serif;
font-weight:bold;
color:#7A2F92;
font-size:15px;
}
.howitworks
{
 width:542px;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	color:#55C06C;
	vertical-align:top;
	font-size:24px;
	text-align:left;
	padding-left:95px;
	font-weight:500;   
}
.articlecontent
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:normal;
padding-left:60px;
padding-right:15px;
text-align:justify;

}
.articlemaincontent
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:normal;
padding-left:30px;
padding-right:15px;
text-align:justify;

}
.articleheading
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:14px;
font-weight:bold;
}
.article
{
font-family:Georgia, "Times New Roman", Times, serif;
color:#843D75;
font-size:16px;
font-weight:bold;
padding-left:25px;
padding-bottom:10px;
}
.articlelink
{
font-family:Arial, Helvetica, sans-serif;
color:#2E3830;
font-size:14px;
font-weight:normal;
padding-left:25px;
padding-right:10px;

}
.articlelink a
{
font-family:Arial, Helvetica, sans-serif;
color:#2E3830;
font-size:14px;
font-weight:normal;
text-decoration:none;
}
.articlelink a:link
{
font-family:Arial, Helvetica, sans-serif;
color:#2E3830;
font-size:14px;
font-weight:normal;
}
.articlelink a:hover
{
font-family:Arial, Helvetica, sans-serif;
color:#318DC7;
font-size:14px;
font-weight:normal;
}
.NewFormHeading
{
	 color: #843D75;
    font-family: Arial,Geneva,sans-serif;
    font-size: 27px;
    height: 35px;
    text-align: left;
    text-decoration: none;
    padding-left:56px;
}
.NewFormcontent
{
     color: #313131;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 60px;
    padding-left: 70px;
    padding-right: 0px;
    text-align: justify;
    vertical-align: middle;
    width: 650px;
}
.NewFormcontent a
{
    
	font-family:Arial, Helvetica, sans-serif;
	color:#0056A6;
	font-size:12px;
	
}
.NewFormQuestion
{
	 color: #252525;
    font-family: Arial,Geneva,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    padding-right: 10px;
    text-align: right;
    text-decoration: none;
    vertical-align: middle;
    width: 150px;
    float:left;
	
}
.NewFormQuestionControlText
{
	vertical-align:middle;
	width:360px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	color:#313131;	
	Text-decoration:none;
	padding-left:12px;
	text-align:left;
	
	background-image:url(NewtxtField.jpg);
	background-repeat:no-repeat;
}
.NewFormQuestion1
{
	vertical-align:middle;
	width:200px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#252525;	
	Text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
	font-weight:bold;
	float:left
}


.NewFormQuestionControlText1
{
	vertical-align:middle;
	width:420px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	background-image:url(NewtxtField.jpg);
	background-repeat:no-repeat;
}
.NewFormQuestionradio
{
	 color: #252525;
    font-family: Arial,Geneva,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    padding-right: 10px;
    padding-top: 4px;
    text-align: right;
    text-decoration: none;
    vertical-align: top;
    width: 150px;
}
.NewFormQuestionradio1
{
	vertical-align:top;
	width:200px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#252525;	
	Text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	text-align:right;
	font-weight:bold;
}
.NewFormOption
{
	vertical-align:top;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	line-height:20px;
	color:#363636;
	text-decoration:none;
	padding-left:0px;
	padding-top:7px;
	text-align:left;
	font-weight:bold;
}
.frmrepeatsmallNew
{
    font-family:Arial, Helvetica, sans-serif;
	color:#313131;
	font-size:10px;
	font-weight:normal;
}
.NewfrmtextboxPD
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
font-weight:900;
border-width:0px;
width:230px;
height:20px;
padding-left:0px;
padding-top:0px;
padding-bottom:0px;
background-color:Transparent;
vertical-align:top;
padding-right:5px;
}
.NewFormBottomHeading
{
	 color: #843D75;
    font-family: Arial,Geneva,sans-serif;
    font-size: 19px;
    font-weight: bold;
    height: 35px;
    text-align: left;
    text-decoration: none;
    padding-left:73px;
}
.Newgetquotecontent
{
	height:20px;
	font-family:Arial, Geneva, sans-serif;
	
	text-decoration:none;
	text-align:left;
	color:#843D75;
	font-size:14px;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:2px;
	padding-left:10px;
	font-weight:bold;
	
}
.NewgetquotecontrolContent
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
	color:#252525;
	font-size:14px;
	padding-top:0px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:30px;
}
.Body_Middle_Right_JoinNW
{
	vertical-align:top;
	width:986px;
	
	background-color:White;
	
}
.JONFormHeading
{
	height:50px;
	font-family:Arial, Geneva, sans-serif;
	font-size:27px;
	color:#161616;
	text-decoration:none;
	
	text-align:left;
}
.JONheaderHeadingTesti
{
font-family: tahoma, sans-serif;
font-weight:normal;
color:#0099FF;
font-size:15px;
}
.JONheaderHeadingTesti a
{
font-family: tahoma, sans-serif;
font-weight:normal;
color:#0099FF;
font-size:15px;
}
.JONNewFormQuestion
{
	vertical-align:top;
	width:140px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	
	color:#252525;	
	Text-decoration:none;
	padding-left:0px;
	padding-right:10px;
	
	padding-top:4px;
}
.JONNewFormQuestionControlText
{
	vertical-align:top;
	width:360px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	line-height:20px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	padding-top:4px;
	background-image:url(NewtxtField.jpg);
	background-repeat:no-repeat;
}
.JONNewFormQuestionControlComboText
{
	vertical-align:top;
	width:360px;
	height:22px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	line-height:20px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	padding-top:5px;
	background-image:url(listBox.jpg);
	background-repeat:no-repeat;
}
.JONheader
{
	width:1200px;
	background-image:url(../Images/JONps-header.jpg);
	height:157px;
	background-repeat:no-repeat;
}
.Body_Right_JoinNW
{
	vertical-align:top;
	
	width:325px;
	height:648px;
	background-image:url(../Images/joncontent.jpg);
	background-repeat:no-repeat;
}
.JONFormOption
{
	vertical-align:top;
	height:30px;
	width:360px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#363636;
	text-decoration:none;
	padding-left:0px;
	text-align:left;
}
.Pressmainheading
{
font-family:Georgia, "Times New Roman", Times, serif;
color:#54C06B;
font-size:24px;
font-weight:bold;
padding-left:30px;
}
.Pressheading
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:bold;
padding-left:30px;
}
.Presscontent
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:normal;
padding-left:30px;
padding-right:30px;
padding-top:7px;
text-align:justify;

}
.Presscontent a
{
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:normal;
}
.Presscontent a:hover
{
font-family:Arial, Helvetica, sans-serif;
color:#0099FF;
font-size:12px;
font-weight:normal;
}

/* petsitting rent css */

/* top nav sect */

#top_nav_wrapper { font-family: 'Trebuchet MS'; width: 874px; margin-top:10px; text-align: center }
#top_nav_logo{float:left;height:55px;padding-right:20px;}
 #top_nav_logoDB{float:left;height:70px;padding-right:20px;}
/* main top navigation w/. rounded corners */
.top-nav-links div {
float: left;
display: inline;
text-align: center;
/*background: url(http://media.rent.com/img/topnav/topnav-bg-sprite.gif) repeat-x 0 0;*/
color: #ccc
}
.top-nav-links a { float: left; text-decoration: none }
 
.top-nav-links .off { background-position: 0 -79px; height: 31px; margin-top: 7px }
.top-nav-links .off a { font-size: 14px; color: #333; padding-top: 8px }
.top-nav-links .off a:hover {color: #333; text-decoration: underline }
.top-nav-links .off-curve-lt {background-position: 0 0; width: 7px }
.top-nav-links .off-curve-rt { background-position: -7px 0; width: 7px }
 
.top-nav-links .on { background-position: 0 -66px; background-color: #39c; height: 37px; margin-top: 1px }
.top-nav-links .on a { font-size: 14px; color: #fff; font-weight: bold; padding-top: 11px }
.top-nav-links .on a:hover { color: #fff; text-decoration: none }
.top-nav-links .on-curve-lt { background-position: -14px 0; width: 9px }
.top-nav-links .on-curve-rt { background-position: -23px 0; width: 9px }
 
.top-nav-links .narrow { width: 7px; height: auto }
.top-nav-links .wide { width: 20px; padding-top: 8px; height: auto }
.top-nav-links .link { padding: 0 7px; cursor: pointer }
 
/* list/manage property link on the rt. */
.top-nav-links .list-manage-prop { float: right; font-size: 12px; color: #333; padding-top: 15px }
.list-manage-prop:hover { text-decoration: underline }
 
.top-sub-nav .sub-tab-msg { line-height: 10px; padding: 3px 0 6px }
.topnavWelcome { font-size: 14px; font-weight: bold; color: #333 }
.topnavHeader { background: #fff }
.topnav_subtabmessage_item {padding:4px;}
 
/* top navigation bar, section on the right, "Welcome", "sign in" links */
.top-nav-up-rt { text-align: right }
.top-nav-up-rt em { font-style: normal; padding: 0 1px }
.top-nav-up-rt .message { border-right: 5px solid #fff }
.top-nav-links { text-align: right; padding-top: 7px }

.topnavTextLink { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold }
.topnavTextLink:hover { color: #f60 }
span.topnavTextLink { font-weight: bold }

/* bottom nav sect */

#middle_nav_wrapper { font-family: 'Trebuchet MS'; width: 874px; margin-top: 10px; text-align: center }

/* bottom nav sect */

#bottom_nav_wrapper { font-family: Arial, Geneva, sans-serif; width: 874px; text-align: center }
.bottomnavText { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold; text-decoration:none }
.bottomnavTextLink { color: #0070aa; vertical-align: middle; font-size: 12px; font-weight: bold; text-decoration:none }

.bottomnavTextLink:hover { color: #f60 }
.bottom-nav-links div 
{
display: inline;
text-align: center;
}


.height {height:20px;}

.Body_Top_Middle_Rent
{
	vertical-align:top;
	width:319px;
	height:515px;
	background-image:url(../Images/rent-form-back.png);
	background-repeat:no-repeat;
}
.Rent_Bottom_Header
{
	vertical-align:top;
	width:875px;
	height:169px;
	border:0px;
	
}
.Layer_Rent
{
	background-color:#F4F3F1;
	color:#93928E;
	position:relative; 
top: -1px; 
left: 35px; 
width: 0px; 
height: 0px; 
z-index: 1; 
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:13px;
} 

.Layer_Rent td:hover
{
	color:#06C;
	font-weight:normal;
}

.getquotecontent_Rent
{
	height:20px;
	width:325px;
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	color:#317040;
	font-size:14px;
	font-weight:bold;
	padding-top:0px;
	padding-bottom:2px;
	padding-left:11px;
	
}
.getquotecontrol_Rent
{
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	text-align:left;
	height:23px;
	color:#476D50;
	font-size:14px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:28px;
}

.frmtextbox_Rent
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
font-weight:900;
border-width:0px;
width:157px;
height:18px;
padding-left:15px;
padding-top:0px;
background-color:Transparent;
vertical-align:top;
padding-top:0px;

}
.frmtextbox_Rent2
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
font-weight:900;
border-width:0px;
width:240px;
height:18px;
padding-left:17px;
background-color:Transparent;
vertical-align:top;
padding-top:5px;

}
.frmtextboxCombo_Rent
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#666563;
font-size:13px;
font-weight:900;
border-width:0px;
width:250px;
height:19px;
padding-left:17px;
padding-top:2px;
background-color:#F9F7F4;
vertical-align:top;


}
.Compare_Rent
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#009BCF;
font-size:24px;
padding-left:10px;
padding-top:12px;
}
.Compare_Rent2
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#3C9450;
font-size:24px;
padding-left:0px;
padding-top:12px;
}
.Compare_Rent3
{
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#333333;
font-size:14px;
padding-left:10px;
text-align:justify;
font-weight:bold;
}
.Points_Rent
{
padding-left:10px;
padding-right:10px;
}
.NewFormHeading-Rent
{
	height:35px;
	font-family:Arial, Geneva, sans-serif;
	font-size:27px;
	color:#4BB865;
	text-decoration:none;
	padding-left:10px;
	text-align:left;
}
.NewFormQuestion-Rent
{
	vertical-align:middle;
	width:127px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#252525;	
	Text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
	font-weight:bold;
	
}

.NewFormQuestionControlText-Rent
{
	vertical-align:middle;
	width:340px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	
	background-image:url(../Images/NewtxtField.jpg);
	background-repeat:no-repeat;
}
.NewFormQuestionradio-Rent
{
	vertical-align:top;
	width:127px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#252525;	
	Text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	text-align:right;
	font-weight:bold;
}
.NewFormBottomHeading-Rent
{
	height:35px;
	font-family:Arial, Geneva, sans-serif;
	font-size:19px;
	color:#C2935F;
	text-decoration:none;
	padding-left:10px;
	text-align:left;
	font-weight:bold;
}
.NewFormQuestion1-Rent
{
	vertical-align:middle;
	width:197px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#252525;	
	Text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
	font-weight:bold;
}
.NewFormQuestionControlText1-Rent
{
	vertical-align:middle;
	width:230px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	color:#313131;	
	Text-decoration:none;
	padding-left:10px;
	text-align:left;
	background-image:url(../Images/NewtxtField.jpg);
	background-repeat:no-repeat;
}
.NewFormQuestionradio1-Rent
{
	vertical-align:top;
	width:197px;
	height:30px;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	color:#252525;	
	Text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	text-align:right;
	font-weight:bold;
}
.NewFormOption-Rent
{
	vertical-align:top;
	height:30px;
	
	font-family:Arial, Geneva, sans-serif;
	font-size:13px;
	line-height:20px;
	color:#363636;
	text-decoration:none;
	padding-left:0px;
	padding-top:1px;
	text-align:left;
	font-weight:bold;
}
.NewFormBottomHeading-Rent
{
	height:35px;
	font-family:Arial, Geneva, sans-serif;
	font-size:19px;
	color:#C2935F;
	text-decoration:none;
	padding-left:10px;
	text-align:left;
	font-weight:bold;
}
.thankyou-Renttablecustomer
{

	width:834px;
}
.CouponBoxContentheader
{
	vertical-align:middle;
	
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:16px;
	font-weight:bold;
	line-height:15px;
	text-align:justify;
	padding-right:45px;
	padding-left:30px;
	
}
.CouponBoxContenttop
{
	vertical-align:middle;
	
	font-family:Arial, Geneva, sans-serif;
	text-decoration:none;
	font:Arial, Helvetica, sans-serif;
	color:#313131;	
	font-size:14px;
	line-height:15px;
	text-align:justify;
	padding-right:45px;
	padding-left:30px;
	
	font-weight:400;
}
.Rebate
{

	width:875px;
	height:381px;
	background-image:url(../Images/detail-back.gif);
	background-repeat:no-repeat;
}
.Rebateheading
{
	color:#3C9553;
	font-size:30px;
	font-family:Arial,Georgia, Times New Roman, Times, serif;
	font-weight:normal;
	padding-left:40px;
}
.Rebateucontent
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	color:#000000;
	padding-top:5px;
	padding-left:40px;
	padding-right:40px;
	text-align:justify;
	font-weight:bold;
}

/* for AdoptaPet landing page */
#top_nav_wrapperAdopt { font-family: 'Trebuchet MS'; width: 874px; margin-top:10px; margin-bottom:5px; text-align: center }

#top_nav_logoAdopt{float:left;height:92px;padding-right:20px;}

.z_top{ position:relative; z-index:99;}
.nav_big ul li a{ font-size:13px;}
.works_wrap{padding-top:18px;}

.table-top td{ vertical-align:top; padding-bottom:4.5px;}
h4.main { font:22px/24px "CabinBold", Arial; color:#4c4c4c; padding:12px 0;}
ul.sub{ padding:20px; background:#eee;}
ul.sub li{ padding-bottom:10px;}
.single_content p{ padding-bottom:10px;}
.location{margin:20px 0px 0px 0px; float:left; padding:0px 0px 0px 0px;}
.bg-none{background:none; padding-left:1px;}

.Newbigtxtbox-important{background-image:url(wp-content/themes/fampet/inc/rsc/Newbigtxtbox.jpg) !important;}

.submit2 { width:168px; height:46px; background:url(wp-content/themes/fampet/inc/rsc/submit_bg.png) no-repeat center center; bottom:92px; left:70px; border:0px none; font:bold 21px/40px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer; padding-bottom:0px; outline:none; float:left }



/* LINK PAGE CSS */

.Link1 {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    padding: 5px 30px 15px 0px;
    text-align: justify;
}

.Linkimage {
    padding-top: 8px;
width:11px;
}

.Link {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    padding: 5px 30px 5px 25px;
    text-align: justify;
}

.Link a {
    color: #9A5C8D;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
}

.Link a:hover {
    text-decoration:underline;}
    
.articlepcontent {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: justify;
}

.articleheading1 {
    color: #843D75;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 30px;
    font-weight: normal;
    line-height:34px;
   
}
.article2
{
font-family:Georgia, "Times New Roman", Times, serif;
color:#843D75;
font-size:16px;
font-weight:normal;
padding-bottom:10px;
}


.blueRegardText {
    color: #9F6693;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
}
.CityHeading
{
	color:#843D75;
	font-size:30px;
	font-family:Georgia, Times New Roman, Times, serif;
	padding-left:0px;
	padding-left:7px;
    padding-right:7px;
}
.CityContentHead
{
	color: #843D75;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 20px;
    text-align:justify;
    text-decoration: none;
    height:30px;
    padding-top:10px;
    background-color:whitesmoke;
    padding-left:7px;
   
    
    
}
.CityContent
{
    color: #313131;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height:20px;
    text-align: justify;
    vertical-align: middle;
   
}
/*Arial,Geneva,sans-serif;
lavenderblush
    thistle
*/